<div class="login-form">
    <form id="emailform" method="" (ngSubmit)='getEmailFromUser(getEmailFromUserToGetOTP)'>
        <h2 class="text-center" style="color: #05386B;">Enter E-mail Id</h2>
        <div class="form-group"  [class.has.error]="mailcontrol.touched&& mailcontrol.invalid">
            <input type="email" class="form-control"  #mailcontrol='ngModel' placeholder="Enter E-mail" required="required"
                [(ngModel)]=getEmailFromUserToGetOTP.email [ngModelOptions]="{standalone: true}">
                <div *ngIf='mailcontrol.touched && mailcontrol.invalid'>
                    <span class='help-block alert-danger' *ngIf='mailcontrol.touched && mailcontrol.invalid'>
                        enter you email
                    </span>
                </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary button">Get OTP</button>
            <button type="reset" class="btn btn-primary" routerLink="/">Cancel</button>
        </div>

    </form>

    <form id="otpform" method="" (ngSubmit)='getOTPFromUser(inputOTP)' style="display: none;">
        <h2 class="text-center">Enter OTP sent to your E-mail Id</h2>
        <div class="form-group" [class.has.error]="otpcontrol.touched&& otpcontrol.invalid">
            <input type="text" class="form-control"  #otpcontrol='ngModel' placeholder="Enter OTP sent to your E-mail" required="required"
                [(ngModel)]=inputOTP.otp [ngModelOptions]="{standalone: true}">
                <div *ngIf='otpcontrol.touched && otpcontrol.invalid'>
                    <span class='help-block alert-danger' *ngIf='otpcontrol.touched && otpcontrol.invalid'>
                        enter otp
                    </span>
                </div>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary button">Submit OTP</button>
            <button type="reset" class="btn btn-primary" routerLink="/">Cancel</button>
        </div>

    </form>

</div>