<div class="container">
    <div class="top">
        <h2 style="padding: 10px;">CONTACT US</h2>

    </div>
    <div class="container" style="background-color:#EDF5E1;height:425px;color: #05386B;text-align: center;">
        <div>
            <h2>24/7 Customer Support</h2>
            <h3>Already a Customer?</h3>

            <h3>Contact support services</h3>
            <br> <br>
            <p>our customer support services are the best in the biz,with a 99%
                customer satisfaction rating.
            </p>
            <p>They are standing to help you</p>
            <button class="btn-info">CONTACT SUPPORT</button>

        </div>
    </div>
</div>