
<table class="table table-striped">
    <tr>
        <td>
            <button (click)="cancelBooking()">Cancel Booking</button>
        </td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>{{customer.firstName}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{customer.lastName}}</td>
    </tr>
    <tr>
        <td>E-Mail</td>
        <td>{{customer.email}}</td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td>{{customer.phNo}}</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>{{customer.password}}</td>
    </tr>
    <tr>
        <td>Authorized?</td>
        <td>{{customer.authorized}}</td>
    </tr>
    <tr>
        <td>Wallet Amount</td>
        <td>{{customer.walletAmount}}</td>
    </tr>
    
</table>




<table class="table table-striped">
    <tr>
        <td>Booking Id</td>
        <td>{{booking.BookingId}}</td>
    </tr>
    <tr>
        <td>Booking Date-Time</td>
        <td>{{booking.BookingDateTime}}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{booking.Status}}</td>
    </tr>
    <tr>
        <td>Number of seats booked</td>
        <td>{{booking.NoOfSeats}}</td>
    </tr>
    <tr>
        <td>Amount Paid</td>
        <td>{{booking.AmountPaid}}</td>
    </tr>
    <tr>
        <td>Payment Mode</td>
        <td>{{booking.PaymentMode}}</td>
    </tr>
    <tr>
        <td>Is Driver-Less?</td>
        <td>{{booking.Driver}}</td>
    </tr>
    
</table>

