<div>

    <span style="float: right;">
        <button class="btn btn-primary" type="button" (click)="showChangePwd()">Change-Password</button>
    </span>
</div><br />
<div style="display: block;" id="showinfo">
    <p style="float: left; color: #05386B;">Your Information</p>
    <table class="table table-striped">
        <tr>
            <td>First Name</td>
            <td>{{customer.firstName}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{customer.lastName}}</td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td>{{customer.email}}</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>{{customer.phNo}}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>{{customer.password}}</td>
        </tr>
        <tr>
            <td>Authorized?</td>
            <td>{{customer.authorized}}</td>
        </tr>
        <tr>
            <td>Wallet Amount</td>
            <td>{{customer.walletAmount}}</td>
        </tr>
        <tr>
            <td>Dob</td>
            <td>{{customer.dob}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{customer.address}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{customer.gender}}</td>
        </tr>
    </table>
</div>

<div class="table table-striped" id="changepwd" style="display: none;">
    <form method="post" (ngSubmit)='getNewPassword(changePassword)'>
        <p class="text-center">Select new password</p>
        <div class="form-group" [class.has.error]="passwordcontrol.touched&& passwordcontrol.invalid">
            <input type="text" class="form-control" 
            #passwordcontrol='ngModel' pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&]).{8,}"  placeholder="Enter new password" required="required"
                [(ngModel)]=changePassword.password [ngModelOptions]="{standalone: true}">
                <div *ngIf='passwordcontrol.touched && passwordcontrol.invalid'>
                    <span class='help-block alert-danger' *ngIf='passwordcontrol.touched && passwordcontrol.invalid'>
                        Enter a valid password with atleast min length of 8 chars , one capital letter, one small letter,
                        and one special char 
                    </span>
                </div>
        </div>

        <p class="text-center">Confirm Password</p>
        <div class="form-group" [class.has.error]="cpasswordcontrol.touched&& cpasswordcontrol.invalid">
            <input type="text" class="form-control"  #cpasswordcontrol='ngModel' pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&]).{8,}"  placeholder="Re-enter new password" required="required"
                [(ngModel)]=changePassword.confirmPassword [ngModelOptions]="{standalone: true}">
                <div *ngIf='cpasswordcontrol.touched && cpasswordcontrol.invalid'>
                    <span class='help-block alert-danger' *ngIf='cpasswordcontrol.touched && cpasswordcontrol.invalid'>
                        enter password 
                    </span>
                </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary button" style="margin-left: 20px;">Change Password</button>
            <button type="reset" class="btn btn-primary" routerLink="/">Cancel</button>
        </div>

    </form>
</div>