<div class="container">
    <div class="top">
        <h2>ABOUT</h2>
        <p>Our missin is to provide safe and comfortable journey</p>
    </div>

    <div class="container" style="background-color:#EDF5E1;height:425px">
        <div>
            <h3 style="color:#05386B">History</h3>
            <p style=color:#05386B>Until recently, the prevailing view assumed
                lorem ipsum was born as a nonsense text. “It's not Latin,
                though it looks like it, and it actually says nothing,”
                Before & After magazine answered a curious reader,
                “Its ‘words’ loosely approximate the frequency with which
                letters occur in English, which is why at a glance it looks
                pretty real.”

                As Cicero would put it, “Um, not so fast.”</p>
        </div>
        <div>
            <h3 style="color:#05386B">
                Safety Measures
            </h3>
            <p style=color:#05386B>
                The placeholder text, beginning with the line “Lorem ipsum dolor sit amet,
                consectetur adipiscing elit”, looks like Latin because in its youth,
                centuries ago, it was Latin.

                Richard McClintock, a Latin scholar from Hampden-Sydney College,
                is credited with discovering the source behind the ubiquitous filler text.
                In seeing a sample of lorem ipsum.
            </p>
        </div>
        <div>
            <h4 style="color:#05386B">Sanitized Bus</h4>
            <p style="color:#05386B">All Safety+ buses are sanitized and disinfected before and after every trip</p>
            <h4 style="color:#05386B">Mandatory masks</h4>
            <p style="color:#05386B">Proper masks are mandatory for all passengers and bus staff.</p>

        </div>
    </div>
</div>