<div class="container">
    <div class="top">
        <h2>TERMS OF USE</h2>

    </div>
    <div class="container" style="background-color:#EDF5E1;color:white;height:425px">
        <div>
            <h3 style="color: #05386B;">Use Of Website</h3>
            <ul style=color:#05386B>
                <li>You possess the legal authority to create a binding legal obligation and enter into these Terms of
                    use</li>
                <li>You will use this Website to make only legitimate reservations for you or for another person for
                    whom you are legally authorized to act</li>
                <li>You will provide your proper and accurate Name (as per Passport or any other legal ID), Address,
                    Email ID and Cell Number. You will be solely responsible for the Information
                    provided and in case of any error or mistake in provision of information, BoS will not be liable for
                    the same</li>
            </ul>
            <h3 style="color: #05386B;">
                Content on the Site
            </h3>
            <ul style=color:#05386B>
                <li>You shall not copy, license, adapt, distribute, exchange, modify, sell or transmit any content or
                    material from this Site,
                    including but not limited to any text, images, audio, video or links for any business, commercial or
                    public purpose.</li>
            </ul>
            <h3 style="color: #05386B;">Confidentiality</h3>
            <ul style=color:#05386B>
                <li> Confidential shall be maintained confidentially by the user and shall not be disclosed
                    unless as required by law or to serve the purpose of this agreement and the obligations of both the
                    parties therein.</li>
                <li>you have to make your payment in advance.</li>
                <li>It gives you the confirmation of the booking.</li>
            </ul>



        </div>
    </div>
</div>